@import '../styles/mixins.scss';

.photos {
  display: flex;
  flex-direction: column;
  flex: 1;

  .indicator {
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 1;
    padding: 0.5rem;
    position: relative;
    top: 0;
    @include bounceTransition();
    transition-property: opacity, top;

    &:before {
      background-color: rgba(white, 0.5);
      border-radius: 50%;
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
      content: '';
      display: block;
      height: 0.5rem;
      transition: 0.3s background-color;
      width: 0.5rem;

      @include breakpoint() {
        height: 0.6rem;
        width: 0.6rem;
      }
    }

    &:hover {
      &:before {
        background-color: rgba(white, 0.75);
      }
    }

    &.hidden {
      opacity: 0;
      top: 2rem;
    }

    &.selected {
      &:before {
        background-color: white;
      }
    }

    span {
      display: none;
    }
  }

  .photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  :global {
    .carousel .control-dots {
      margin: 0;
      padding: 0.5rem 0;
      position: fixed;
    }
  }
}
