@import '../styles/mixins.scss';

.card {
  background-color: rgba(black, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1311);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 24.5rem;
  padding: 2rem;
  position: fixed;
  @include bounceTransition();
  transition-property: all;
  user-select: none;
  z-index: 1;

  &.collapsed {
    background-color: rgba(black, 0);
    box-shadow: none;
    margin: 1rem;
    padding: 0;

    h1,
    h2 {
      height: 0;
      opacity: 0;
    }

    .me {
      border-width: 0.125rem;
      box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1311);
      height: 3.75rem;
      margin-bottom: 0;
      width: 3.75rem;

      @include breakpoint() {
        border-width: 0.25rem;
        height: 6.25rem;
        width: 6.25rem;

        &:hover {
          height: 6.5rem;
          width: 6.5rem;
        }
      }
    }

    .social {
      height: 0;
      opacity: 0;
      width: 0;
    }
  }

  .me {
    background: url('/me.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 0.25rem solid white;
    cursor: pointer;
    height: 5.75rem;
    margin-bottom: 0.5rem;
    @include bounceTransition();
    transition-property: all;
    width: 5.75rem;

    &:focus {
      outline: none;
    }

    @include breakpoint() {
      height: 7.5rem;
      width: 7.5rem;
    }
  }

  .social {
    align-self: flex-start;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    row-gap: 0.5rem;

    a {
      background-repeat: no-repeat;
      background-size: contain;
      height: 2rem;

      span {
        display: none;
      }

      &.github {
        background-image: url('/github.png');
        width: 2rem;
      }

      &.linkedin {
        background-image: url('/linkedin.png');
        width: 2.34816667rem;
      }
    }
  }
}
